

                    <div class="card-body">
                       <%= bootstrap_form_with(model: @liaison, local: true) do |f| %>
                          <%= f.text_field :email, label: "Novice" %>
                          <%= f.submit class: "btn  btn-primary"%>
                        <% end %>
                    </div>


