<div class="pc-container">
  <div class="pcoded-content">
    <div class="col-md-12 text-center">
      <div class="alert alert-danger" role="alert">
        <%= t('logged_off_page.must_be').capitalize %> <a href="https://userandsocials.auth.eu-west-3.amazoncognito.com/login?response_type=code&client_id=1vibkotm8fqugn9v086iltn8a5&redirect_uri=https://127.0.0.1:3000/auth/sign_in" class="alert-link"><%= t('logged_off_page.connected') %></a> <%= t('logged_off_page.to_acces') %>.
      </div>
    </div>
  </div>
</div>
