<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%=t('mailer.manager_added').capitalize %></h3>
    --------------------------
    <p><%=t('mailer.the_manager').capitalize %> "<%= params[:company_name] %>" <%=t('mailer.manager_added').capitalize %></p>
    <br>
    --------------------------
  </body>
</html>
