<!-- [ navigation menu ] start -->
<nav class="pc-sidebar ">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="<%= root_path %>" class="b-brand">
        <%= image_tag'logo.png', alt:'' ,class: 'logo logo-lg'%>
        <%= image_tag'logo-sm.svg', alt: 'logo', class: 'logo logo-sm'%>
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>Navigation</label>
        </li>
        <li class="pc-item pc-hasmenu" style="pointer-events: none;">
          <a href="#!" class="pc-link "><span class="pc-micon"><i data-feather="home"></i></span><span
								class="pc-mtext"><%= t('sidebar.dashborad').capitalize %></span><span class="pc-arrow"><i
									data-feather="chevron-right"></i></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->
